/* Bordes */


.borredondos{
	border-radius: 30px;
	width: 200px;
	height: 200px;
	padding: 5px 5px 5px 5px;
	margin-left: 30px;
	
}

@mixin blockCentrar {
    display: inline-block;
	text-align: center;
    background-color: rgb(255, 255, 255);
}

.Destacado	{
    @include blockCentrar;
	border: solid 1px black;
	padding: 4px 4px 4px 4px;
	margin: 10px 10px 10px 10px;
	height: 98%;
	width: 98%;
}

.bordes{
    @include blockCentrar;
	width: 12%;
	height: 20%;
	border-radius: 50px;
}


.bordes__rot{
    &:hover {
        transform: scale(1, 1);
	    transition: all 2s;
    }

    &:focus {
        width: 80%;
        transform: scale(2, 2);
    }
}

.borderr__introduccion {
	background-color: white;
	text-align: center;
	font-size: 64px;
	color: rgb(8, 100, 54);
}

.borderr__introduccion--modifi {
	padding: 3px 3px 3px 3px;
	margin: 3px 3px 3px 3px;
	border: 3px;
	width: 100%;
	text-align: center;
}

.borderr{
	border-style: dashed;
	border-top:solid 5px rgb(13, 138, 138);	
	border-right:solid 10px rgb(13, 138, 138);
	border-bottom:solid 7px rgb(13, 138, 138);
	border-left:solid 12px rgb(13, 138, 138);
	padding: 3px 3px 3px 3px;
	margin: 3px 3px 3px 3px;
 }

 .espacio {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: auto;
	padding: 5px 5px 5px 5px;
	margin: 10px, 10px, 10px, 10px;
 }